[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
hypothesis = "*"
pylint = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
parsl = "*"

[packages]
cmdkit = ">=1.2.2"
logalpha = ">=2.0.2"
psutil = "*"
bleach = ">=3.1.1"  # security vulnerability
hyper-shell = {editable = true,path = "."}

[requires]
python_version = "3.7"
