[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
ipython = "*"
twine = "*"
sphinx = "*"
sphinx-sitemap = "*"
sphinx-autobuild = "*"
sphinxext-opengraph = "*"
sphinx-inline-tabs = "*"
sphinx-copybutton = "*"
sphinxcontrib-details-directive = "*"
furo = "*"
psycopg2 = "*"

[packages]
toml = "*"
tomlkit = "*"
cmdkit = "*"
sqlalchemy = "*"
pyyaml = "*"
rich = "*"
paramiko = "*"
hypershell = {editable = true, path = "."}

[requires]
python_version = "3.11"
