.admonition.note {
    border-left-color: #ee0d7e;
    /*border-left-color: var(--color-admonition-title--note);*/
}

.admonition.note > .admonition-title {
    background-color: rgba(255, 0, 222, 0.1);
    /*background-color: var(--color-admonition-title-background--note);*/
}

.admonition.note > .admonition-title:before {
    background-color: #ee0d7e;
    /*background-color: var(--color-admonition-title--note);*/
    -webkit-mask-image: var(--icon-admonition-default);
    mask-image:var(--icon-admonition-default)
}
